<!DOCTYPE html>
<html lang="en">
<head>
	<title>PaginationX</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href=".\bootstrap\css\bootstrap.min.css">
	<link rel="stylesheet" href=".\app.css">
	<link rel="stylesheet" href=".\paginationx\paginationx.css">

	<script src=".\jquery\jquery-1.12.4.min.js"></script>
	<script src=".\angular\angular.min.js"></script>
	<script src=".\jslib\alasql.min.js"></script>
	<script src=".\jslib\xlsx.core.min.js"></script>
	<script src=".\jslib\jspdf.min.js"></script>
	<script src=".\jslib\jspdf.plugin.autotable.js"></script>
	<script src=".\paginationx\paginationx.js"></script>

	<script src=".\app.js"></script>
	<script src=".\controller-complex.js"></script>

	<style>
	.form-group.col-md-12.text-left.search-header {
		height: 35px;
	}
	.col-search-div {
		width:20%;float:left;text-align:right;
	}
	</style>

</head>
<body ng-app="hrapp">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
    	<div class="col-md-12 text-center">
    		<h1 class="app-name">PaginationX Demo</h1>
    	</div>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-md-12 text-left">
			<div class="row" ng-controller="HRAppController" style="align:center">
				<div class="col-md-12 text-left nested">
					<div class="row">
						<div class="form-group col-md-12 search-header text-left">
							  <h3 class"search-header-text">Employee Roster</h3>
						</div>
					</div>
					<!-- row pagination-x starts -->
					<div class="row">
						<div class="col-md-10 col-md-offset-1  text-center results-pagination">
							<pagination-x id="employees" features="features" columns="columns" pagination-x="pagination"
								page-size-options="pageSizeOptions" action-column-options="actionColumnOptions" toolbar-options="toolbarOptions"
								export-options="exportOptions" action-handlers="actionHandlers">
							</pagination-x>
						</div>
					</div>
					<!-- row pagination-x ends -->
					<div class="row">
						<div class="col-md-8 col-md-offset-2  text-center results-pagination">
							<button type="button" class="btn btn-info" ng-click="getSelectedRecords()" style="align:center">View Selected</button>
							<button type="button" class="btn btn-info" ng-click="changeList()" style="align:center">Change List</button>
							<button type="button" class="btn btn-info" ng-click="printCurrentPage()" style="align:center">Print Page</button>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
